---
title: "Sneha Kataria Blogs"
layout: default
pagination:
    enabled: true
description: "Hey I am Sneha Kataria, and this my blog."
---

<div class="container">
    {% if page.url == "/" %}
    <!-- Begin post excerpts, let's highlight the first 4 posts on top -->
    <div class="row remove-site-content-margin">
        <div class="col-md-7">
            <div style="font-family: sans-serif;">
                <br>
                <br>
                <br>
                <div style="color: #333333; font-size: 18px;">University of Washington | M.B.A.</div>

                <h1 style="font-size: 48px; font-weight: bold; margin: 20px 0;">
                    Hello. I'm Sneha Kataria,
                    A Seattle based <span style="background-color: #ADD8E6; color: white; padding: 2px 8px;">product</span> strategist<br>
                    obsessed with data, using<br>
                    <span style="background-color: #ADD8E6; color: white; padding: 2px 8px;">analytics</span> to drive<br>
                    marketing strategies.
                </h1>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-5">
            <br>
            <br>
            <br>
            <img src="https://sneha-kataria.github.io/blog/assets/images/sneha_portrait.jpg" alt="Sneha Kataria Photo">
            <br>
            <br>
            <br>
        </div>
    </div>
    {% endif %}
    <div class="row mt-3">
        <div class="col-md-8">
            <h4 class="font-weight-bold spanborder"><span>Few of my Product Management projects</span></h4>
            {% assign posts = site.posts | where:"author","Sneha" %}
            {% for post in posts %}
            {% include main-loop-card-2.html %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include sidebar-featured.html %}
        </div>
    </div>
</div>